In [1]:
import sys
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pickle
sys.path.append("../scripts")
from utils import Utils
from clean_data import DataCleaner

cleaner = DataCleaner()
utility = Utils()

In [2]:
cleaned_df=utility.load_data("../data/cleaned_data.csv")
# since our csv file doesn't have a meta data of columns dtype, we manually convert ['bearer_id', 'imsi', 'msisdn/number', 'imei','handset_type'] to string once again
cleaned_df=cleaner.convert_to_string(cleaned_df)

In [6]:
cleaned_df.rename(columns={"msisdn/number":"msisdn"},inplace=True)
cleaned_df.columns

Index(['bearer_id', 'start', 'start_ms', 'end', 'end_ms', 'dur._(ms)', 'imsi',
       'msisdn', 'imei', 'last_location_name', 'avg_rtt_dl_(ms)',
       'avg_rtt_ul_(ms)', 'avg_bearer_tp_dl_(kbps)', 'avg_bearer_tp_ul_(kbps)',
       'tcp_dl_retrans._vol_(bytes)', 'tcp_ul_retrans._vol_(bytes)',
       'dl_tp_<_50_kbps_(%)', '50_kbps_<_dl_tp_<_250_kbps_(%)',
       '250_kbps_<_dl_tp_<_1_mbps_(%)', 'dl_tp_>_1_mbps_(%)',
       'ul_tp_<_10_kbps_(%)', '10_kbps_<_ul_tp_<_50_kbps_(%)',
       '50_kbps_<_ul_tp_<_300_kbps_(%)', 'ul_tp_>_300_kbps_(%)',
       'http_dl_(bytes)', 'http_ul_(bytes)', 'activity_duration_dl_(ms)',
       'activity_duration_ul_(ms)', 'dur._(ms).1', 'handset_manufacturer',
       'handset_type', 'nb_of_sec_with_125000b_<_vol_dl',
       'nb_of_sec_with_1250b_<_vol_ul_<_6250b',
       'nb_of_sec_with_31250b_<_vol_dl_<_125000b',
       'nb_of_sec_with_37500b_<_vol_ul',
       'nb_of_sec_with_6250b_<_vol_dl_<_31250b',
       'nb_of_sec_with_6250b_<_vol_ul_<_37500b',
       'nb_of_sec_with_vol_dl_<_6250b', 'nb_of_sec_with_vol_ul_<_1250b',
       'social_media_dl_(bytes)', 'social_media_ul_(bytes)',
       'google_dl_(bytes)', 'google_ul_(bytes)', 'email_dl_(bytes)',
       'email_ul_(bytes)', 'youtube_dl_(bytes)', 'youtube_ul_(bytes)',
       'netflix_dl_(bytes)', 'netflix_ul_(bytes)', 'gaming_dl_(bytes)',
       'gaming_ul_(bytes)', 'other_dl_(bytes)', 'other_ul_(bytes)',
       'total_ul_(bytes)', 'total_dl_(bytes)'],
      dtype='object')

In [9]:
user_experience_df = cleaned_df[['msisdn', 'handset_type','avg_rtt_dl_(ms)','avg_rtt_ul_(ms)','avg_bearer_tp_dl_(kbps)','avg_bearer_tp_ul_(kbps)','tcp_dl_retrans._vol_(bytes)','tcp_ul_retrans._vol_(bytes)']]
user_experience_df.head()

,msisdn,handset_type,avg_rtt_dl_(ms),avg_rtt_ul_(ms),avg_bearer_tp_dl_(kbps),avg_bearer_tp_ul_(kbps),tcp_dl_retrans._vol_(bytes),tcp_ul_retrans._vol_(bytes)
0,33664962239.0,Samsung Galaxy A5 Sm-A520F,42.0,5.0,23.0,44.0,568730.0,20949.5
1,33681854413.0,Samsung Galaxy J5 (Sm-J530),65.0,5.0,16.0,26.0,568730.0,20949.5
2,33760627129.0,Samsung Galaxy A8 (2018),45.0,5.0,6.0,9.0,568730.0,20949.5
3,33750343200.0,undefined,45.0,5.0,44.0,44.0,568730.0,20949.5
4,33699795932.0,Samsung Sm-G390F,45.0,5.0,6.0,9.0,568730.0,20949.5

In [20]:
total_rtt=user_experience_df['avg_rtt_dl_(ms)']+user_experience_df['avg_rtt_ul_(ms)']
total_tp=user_experience_df['avg_bearer_tp_dl_(kbps)']+user_experience_df['avg_bearer_tp_ul_(kbps)']
total_tcp=user_experience_df['tcp_dl_retrans._vol_(bytes)']+user_experience_df['tcp_ul_retrans._vol_(bytes)']
user_experience_total=pd.DataFrame({"msisdn":user_experience_df['msisdn'],"handset_type":user_experience_df['handset_type'],"total_rtt(ms)":total_rtt,"total_tp(kbps)":total_tp,"total_tcp(bytes)":total_tcp})
user_experience_total
user_experience_total.head()

,msisdn,handset_type,total_rtt(ms),total_tp(kbps),total_tcp(bytes)
0,33664962239.0,Samsung Galaxy A5 Sm-A520F,47.0,67.0,589679.5
1,33681854413.0,Samsung Galaxy J5 (Sm-J530),70.0,42.0,589679.5
2,33760627129.0,Samsung Galaxy A8 (2018),50.0,15.0,589679.5
3,33750343200.0,undefined,50.0,88.0,589679.5
4,33699795932.0,Samsung Sm-G390F,50.0,15.0,589679.5

### Aggregate, per customer, the following information 
- Average TCP retransmission
- Average RTT
- Handset type
- Average throughput

In [64]:
customer_group=user_experience_total.groupby(['msisdn'])

avg_tcp_retran=customer_group.agg({'total_tcp(bytes)':'mean'})
avg_tcp_retran.rename(columns={'total_tcp(bytes)':'avg_tcp(bytes)'},inplace=True)
avg_tcp_retran

                   avg_tcp(bytes)
msisdn
3197020876596.0      5.896795e+05
33601001722.0        5.896795e+05
33601001754.0        5.896795e+05
33601002511.0        5.896795e+05
33601007832.0        2.201550e+04
...                           ...
33789980299.0        2.998878e+05
33789996170.0        2.180450e+05
33789997247.0        5.896795e+05
882397108489451.0    5.896795e+05
nan                  1.002149e+07

[106857 rows x 1 columns]

In [65]:
avg_rtt=customer_group.agg({'total_rtt(ms)':'mean'})
avg_rtt.rename(columns={'total_rtt(ms)':'avg_rtt(ms)'},inplace=True)
avg_rtt

                   avg_rtt(ms)
msisdn
3197020876596.0      50.000000
33601001722.0        46.000000
33601001754.0        31.000000
33601002511.0        50.000000
33601007832.0        84.000000
...                        ...
33789980299.0        59.500000
33789996170.0        52.000000
33789997247.0        40.000000
882397108489451.0    50.000000
nan                 295.657598

[106857 rows x 1 columns]

In [66]:
freq_handset=customer_group.agg({'handset_type':pd.Series.mode})
freq_handset.rename(columns={'handset_type':'freq_handset_type'},inplace=True)
freq_handset

                                  freq_handset_type
msisdn
3197020876596.0    Quectel Wireless. Quectel Ec25-E
33601001722.0        Huawei P20 Lite Huawei Nova 3E
33601001754.0                Apple iPhone 7 (A1778)
33601002511.0                             undefined
33601007832.0               Apple iPhone 5S (A1457)
...                                             ...
33789980299.0                             undefined
33789996170.0                   Huawei Honor 9 Lite
33789997247.0           Apple iPhone 8 Plus (A1897)
882397108489451.0  Quectel Wireless. Quectel Ec21-E
nan                                             nan

[106857 rows x 1 columns]

In [68]:
avg_tp=customer_group.agg({'total_tp(kbps)':'mean'})
avg_tp.rename(columns={'total_tp(kbps)':'avg_tp(kbps)'},inplace=True)
avg_tp

                   avg_tp(kbps)
msisdn
3197020876596.0        1.000000
33601001722.0         76.000000
33601001754.0         99.000000
33601002511.0         97.000000
33601007832.0        248.000000
...                         ...
33789980299.0      81539.500000
33789996170.0      10365.000000
33789997247.0        116.000000
882397108489451.0      2.000000
nan                16944.924015

[106857 rows x 1 columns]